<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    h1{text-align: left;}
    div{text-align: left;}
  </style>
</head>
<body style="background-color:#FFFFE0;">
    <br>
  <h1>Niranjana Subramanian</h1>
  <h1>1002046305</h1><br><br>
    <div>
        <a href="/">Home</a><br><br>
        <form method='POST' action="/gapnet2">
        N<input type="text" name="N"> <br> <br>
        Range 1<input type="text" name="Range1"> <br> <br>
        Range 2<input type="text" name="Range2"> <br> <br>
		<input type="submit" >
        </form>
    </div>
</body>
</html>
