<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    h1{text-align: left;}
    div{text-align: left;}
  </style>
</head>
<body style="background-color:#FFFFE0;">
    <br>
  <h1>Niranjana Subramanian</h1>
  <h1>1002046305</h1><br><br>
         <br>
         <a href="/">Click Here for Home Page</a>
          </header>
   </div>
   <br> <br>
      <br> <br>
      <div class="table-responsive">
            <table class="table table-bordered table-hover table-fixed table-wrap">
         <tr>
            
            <th><b>City</b></th>
            <th><b>State</b></th>
            <th><b>Population</b></th>
            <th><b>lat</b></th>
            <th><b>lon</b></th>   
         </tr>
         {% for col in rows %}
         <tr>
            <td>{{col[0]}}</td>
            <td>{{col[1]}}</td>
            <td> {{col[2]}}</td>
            <td>{{col[3]}}</td>
            <td> {{col[4]}}</td>
           
         </tr>
         {% endfor %}
      </table>

      <br>
     
   </body>
</html>