<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    h1{text-align: left;}
    div{text-align: left;}
		
	
  </style>
</head>
<body style="background-color:rgb(189, 107, 148) ;"><!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    h1{text-align: left;}
    div{text-align: left;}
		
	
  </style>
</head>
<body style="background-color:rgb(189, 107, 148) ;">
  <div style="background-color:white;width: 50%;margin-left: 25%;margin-top: 5%;">
    <br>
  <h1>Niranjana Subramanian</h1>
  <h1>1002046305</h1><br><br>
 
    <div>
          <a href="/">Home</a><br><br>
<form action="/place" method="POST">
    Range1: <input type="text" placeholder="Range1" name="Range1" value="{{ Range1 }}"> <br/><br/>
    Range2:<input type="text" placeholder="Range2" name="Range2" value="{{ Range2 }}"><br/><br/>
    N: <input type="text" placeholder="Range2" name="N" value="{{ N }}"><br/><br/>

    <input type="submit" value="Submit">
</form>
</div>

</div>
</body>
</html>
