<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
  <style>
    h1{text-align: left;}
    div{text-align: left;}
</style>
l<body style="background-color:#FFFFE0;">
      <br>
    <h1>Niranjana Subramanian</h1>
    <h1>1002046305</h1><br><br>
    <a href="/">Home</a><br><br>
    <form action="/Task3" method="POST">
        Latitude: <input type="text" placeholder="Latitude" name="lat1" value="{{ lat1 }}"> <br/><br/>
        Longitude:<input type="text" placeholder="Longitude" name="lon1" value="{{ lon1 }}"><br/><br/>
        Distance:<input type="text" placeholder="kms" name="kms" value="{{ km }}"><br/><br/>
        <input type="submit" value="Submit">
    </form>
    </div>
<div class="table-responsive">
 {% if rows %}
    <table class="table table-bordered table-hover table-fixed table-wrap">
        <tr>
            <td>City</td>
            <td>State</td>
            <td>Population</td>
            <td>Lat</td>
            <td>Lon</td>
        </tr>

        {% for row in rows %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
           

    </tr>
       {% endfor %}
    {%endif%}
    </table>
</div>
</body>
</html>