
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{text-align: left;}
        div{text-align: left;}
    </style>
</head>
<body style="background-color:	#FFFFE0	;">
    <div>
		<h1>Niranjana Subramanian</h1>
        <h1>1002046305</h1>
            <a href="/">Home</a>
             </header>
		<br> <br>
		</header>
		<form method="POST" action="/Add" >
            <div>
			City<input type = "text" name = "City" /><br><br>
            State<input type = "text" name = "State" /><br><br>
            Population<input type = "text" name = "Population" /><br><br>
            Lat<input type = "text" name = "Lat" /><br><br>
            Lon<input type = "text" name = "Lon" /><br><br>
			<input type = "submit" name = "Update"/>
        </div>
		 </form>
        </div> 
</body>
</html>